<div class="container">
  <h1>Welcome to Twitter Search</h1>
  <h3>Insert a user tweethandle</h3>
  <form id="fetch-tweets" action="/tweet/search" method="POST">
  <input type="text" name="username" placeholder="tweethandle">
  <input type="submit" id="submit-tweet" value="Submit">
  </form>

  <div id="status"></div>
  
  <br><div id="loading_img" style="display:none;"><img src='/image/ajax-loader.gif'>Loading....</img></div>
</div>
