<div class="container">
  <h1>Welcome to Twitter Search</h1>
  <h2>Insert a user tweethandle<h2>
  <form action="/tweet/search" method="get">
  <input type="text" name="username" placeholder="tweethandle">
  <input type="submit" value="Submit">
  </form>
  
</div>
