<div class="container">
<img src="ajax-loader.gif">
<h2><%=@user.username %>'s recent tweets:</h2>
<ol>
<p><% @recent_tweets.each do |tweet| %></p>
	<li><p> <%= tweet.text %></p></li>
<% end %>
</ol>
</div>